@import url(http://fonts.googleapis.com/css?family=Coustard);
body{background-color:black;background: url("../images/background.jpg") repeat;background-size: contain;font-size: 0.8em}
nav{font-family:'Coustard',serif;border-radius:3px;text-align:center;width: 100%;}
nav div{background-color:black;border-radius:1px;margin:5px 0; padding: 7px;}
ul{display:inline-block;list-style:none; margin:2px;padding: 2px;}
li a{text-decoration:none}
article{background-color:black;color:white;padding: 5px;}
article div {margin:auto;padding:auto;}
h1{background-color:white;border-radius:5px;color:black;font-family:'Coustard',serif; font-weight:300;text-align:center;margin:5px;}
h2{background-color:orange;border-radius:5px;font-family:'Coustard',serif; font-weight:300;text-align:center;margin:5px auto;padding:5px;width:90%;}

.menu-link{color:white}
.menu-list .menu-list-item{background-color:white;display:inline-block;margin:3px 5px;padding:3px 5px;transition:all 0.3s ease}
.menu-list .menu-list-item:hover{background-color:black}
.menu-list .menu-list-item:hover>
.menu-link{color:white}
.menu-list .menu-link{color:black;transition:all 0.3s ease}

.container-image{width:70%;margin:auto;padding:5px;}
.container-image img{border:solid;border-radius:5px;border-width:5px;border-color:white;margin:auto;padding:5px;width:95%;}
.container-cell{border-radius:5px;display:none;padding:5px;transition:all 0.3s ease}
.container-body{background-color:white;color:black;border-radius:5px;margin:5px;padding:5px;transition:all 0.3s ease}

@media screen and (min-width: 719px){
article{display:inline-block;vertical-align:top; margin:3px 5px;width:45%;}
#main_body {text-align: center;}
}
@media screen and (min-width: 1200px){
	body{
		font-size: 2em;
	}
}
